header {  
    background: url('moseley.jpg') center center;
    height: 533px;
    background-size: fill;
    background-position: center;
    border-top: 15px solid yellow;
    border-bottom: 15px solid yellow;
    margin: 0px 50px 0px 50px;
    background-repeat: no-repeat;
    }

h1 {
    color: aliceblue;
    font-family: sans-serif; 
    font-size: 125px;
    text-align: center;
    word-spacing: 10px;
    }

h2{
    font-size: 60px;
    text-align: left;
    padding-left: 850px;
    padding-top: 150px;
    margin: 50px 50px -1000px -200px;
    background: url(ladybread.jpg) left;
    background-repeat: no-repeat;
    height: 800px;
    background-size: 550px;
    margin-left: 25px
        
    }
     
footer {
    text-align: center;
}

section {
    font-size: 30px;
    
    margin: 0px 25px 0px 25px;
}

h3{ text-align: center;
    word-spacing: 325px; 
    font-size: 40px; 
    padding-top: 800px
}

div { 
    background-color: lightcyan;
}

footer {
    background-color: yellow;
    font-size: 60px;
    word-spacing: 400px;
}